// modals
div.modal.fade#modal-marker
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h4.modal-title Novo banco
			div.modal-body
				form(method='post')
					div.row
						div.col-xs-12
							div.form-group
								label Banco:
								select.form-control(data-ng-model='form.name', ng-options='formBank.name for formBank in formBanks')
							div.checkbox
								label
									input(type='checkbox', data-ng-model='form.cashMachine')
									| Caixa eletrônico
							div.form-group
								label Descrição:
								textarea.form-control(data-ng-model='form.description')
							input(type='hidden', ng-data-model='form.lat')
							input(type='hidden', ng-data-model='form.lng')

			div.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
				button.btn.btn-success(type='button', data-ng-click='create(form)') Salvar

div.container.container-map
	div.row.row-offcanvas.row-offcanvas-right
		// map area
		div.col-xs-12.col-sm-9.map
			google-map(center='map.center', zoom='map.zoom', draggable='true', events='map.events')
				marker(ng-repeat='m in map.markers', coords='m.coords', icon='m.icon')
					window(options='map.infoWindowWithCustomClass.options')
						div
							{{ m.address }}
							p(ng-if='m.cashMachine')
								span.glyphicon.glyphicon-ok
								| Caixa eletrônico

				div(ng-init='opts = {animation:1}')
					marker(coords='map.clickedMarker', options='opts')

		// sidebar
		div.col-xs-6.col-sm-3.sidebar-offcanvas#sidebar(role='navigation')
			div.panel
				div.panel-heading
					div.input-group
						span.input-group-addon
							span.glyphicon.glyphicon-search
						input(type="text", data-ng-model="city", class='form-control', placeholder='Busca', x-webkit-speech)
				div.panel-body
					div.navbar
						a(href='/banks/new', class='navbar-btn btn btn-success') Ḿarcar banco
					div.list-group
						a.list-group-item(
							data-ng-repeat='bank in banks | filter: city',
							data-ng-click='setCenter({latitude: bank.lat, longitude: bank.lng})'
							href='/map'
						) {{ bank.name }}

					p {{ (banks | filter: city).length }} bancos encontrados	


