html, body, .page-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
}
.sidebar-offcanvas {
  overflow: auto;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}
.page-container {
}
.container-map {
  width: 100%;
}
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
  position: fixed;
}
/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px;
}
*/

/* Minimalist scrollbars in webkit */
  ::-webkit-scrollbar         {width: 12px;}
  ::-webkit-scrollbar-track   {border-radius: 10px;                       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
  ::-webkit-scrollbar-thumb   {border-radius: 10px; background: #AAAAAA;  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);}
  ::-webkit-scrollbar-corner  {display: none;}


@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 100%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 100%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%; /* 6 columns */
  }
}